body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.7); 
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.imagen-horizontal img {
    width: 100%;
    height: auto;
    display: block; /* Esto elimina cualquier espacio adicional debajo de la imagen */
}


.image-container {
    position: relative;
}

.image-info {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    display: none;
    border-radius: 20px;
}

.image-container:hover .image-info {
    display: block;
}

.data-text1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -70%); /* Ajusta el valor según la posición deseada */
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    z-index: 5; /* Asegúrate de que este valor sea mayor que el de los paneles de tiempo */
}

.data-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%); /* Ajusta el valor según la posición deseada */
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    z-index: 5; /* Asegúrate de que este valor sea mayor que el de los paneles de tiempo */
}

.time-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -70%); /* Ajusta el valor según la posición deseada */
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    z-index: 5; /* Asegúrate de que este valor sea mayor que el de los paneles de tiempo */
}

.time-panels {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.time-panel {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px; 
    margin-right: 20px;
}

.imagen-horizontal:hover .time-panels {
    display: flex;
}


