body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    background: url('/superres/img/portada5.jpg')
}

header {
    background-color: #333;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;


}


header .logo-left {
    margin-right: 600px; /* Ajusta este valor según sea necesario */
}

header .logo-right {
    margin-left: 750px; /* Ajusta este valor según sea necesario */
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
}

nav a:hover {
    background-color: #555;
}

.image-info {
    position: absolute;
    top: 1000px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: block;
}


.schedule-container {
    text-align: center;
    margin-top: 20px;
}

.show-schedule-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px; /* Añade un pequeño espacio entre los botones si lo deseas */
}

.schedule-content {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.schedule-content.active {
    display: block;
}

.show-schedule-btn.active-btn {
    background-color: purple; /* Puedes ajustar el color según tus preferencias */
}

.foter img {
    position: absolute;
    top: 1100px;
    width: 100%;
    height: auto;
    display: block;
    z-index: 3;
}

.copy-right {
    position: absolute;
    top: 1300px;
    left: 40%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: block;
    z-index: 3;
}


@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */

    body {
        font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    }

    header {
        padding: 5px; /* Reduzca el relleno del encabezado */
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el encabezado */
    }

    header .logo-left {
      margin-right: 0px; /* Ajusta este valor según sea necesario */
    }

    header .logo-right {
     margin-left: 0px; /* Ajusta este valor según sea necesario */
    }

    h1 {
        margin-right: 0; /* Elimina el margen derecho para el título en el encabezado */
    }

    nav {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el menú de navegación */
        text-align: center; /* Centra los elementos del menú de navegación */
    }

    nav a {
        width: 100%; /* Ajusta el ancho al 100% del contenedor */
    }


    .image-info {
        position: absolute;
        top: 1500px;
        left: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        border-radius: 20px;
        display: block;
    }


   .foter img {
        position: absolute;
        top: 1600px;
        width: 100%;
        height: auto;
        display: block;
        z-index: 3;
    }

    .copy-right {
        position: absolute;
        top: 1650px;
        left: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        display: none;
        border-radius: 20px;
        display: block;
        z-index: 3;
    }


}